dist: trusty
language: node_js
node_js:
  - "14.15.3"
addons:
  apt:
    packages:
      - dpkg
  chrome: stable
before_script:
  # build javascript client application and serve it
  - npm run start &
  # give background tasks some time to start up
  - sleep 7
  # travis now automatically runs `npm run test`